<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Space Invaders</title>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!-- Compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- External CSS -->
  <link rel="stylesheet" href="../../public/stylesheets/style.css">

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

  
<div class="container-fluid">
  <h1>Content Goes Here</h1>
  {{{ body }}}
</div>
  </center>
</body>