{{!-- Table of high scores --}}
<div>
  <h3>Welcome, <span id="user-name"></span>{{!-- 's High score: <span id="user-high-score"></span> --}}</h3>
</div>

<div class="col-md-4">
  <h2>High Scores</h2>
<ul>
    {{#each Score}}
    <li>{{this.score}} {{this.User.firstName}}</li>
    {{/each}}
</ul>

<div class="radio-toolbar">
    <input type="radio" id="easy" name="options" autocomplete="off" checked>
    <label for="easy">Easy</label>

    <input type="radio" id="normal" name="options" autocomplete="off">
    <label for="normal">Normal</label>

    <input type="radio" id="hard" name="options" autocomplete="off">
    <label for="hard">Hard</label> 
</div>

<!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary btn-sm active">
    <input type="radio" name="options" id="easy" autocomplete="off" checked> Easy
  </label>
  <label class="btn btn-secondary btn-sm">
    <input type="radio" name="options" id="normal" autocomplete="off"> Normal
  </label>
  <label class="btn btn-secondary btn-sm">
    <input type="radio" name="options" id="hard" autocomplete="off"> Hard
  </label>
</div> -->

</div>

<div class="col-md-4">
  <canvas id="gameCanvas"></canvas>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/spaceinvaders.js"></script>
    {{!-- images used for ships and aliens --}}
    <img src="stylesheets/img/ship.png" id="ship" width="1px" height="1px" style="display: none;"/>
     <img src="stylesheets/img/alien.png" id="alien" style="display: none;">
  <script>
    //  Setup the canvas.
    var canvas = document.getElementById("gameCanvas");
    canvas.width = 500;
    canvas.height = 350;
    
    //  Create the game.
    var game = new Game();

    //  Initialise it with the game canvas.
    game.initialise(canvas);
    
    //  Start the game.
    game.start();
    
    //  Listen for keyboard events.
    var pressedKeys = [];
    window.addEventListener("keydown", function keydown(e) {
      var keycode = window.event.keycode || e.which;
        if(!pressedKeys[keycode])
          pressedKeys[keycode] = true;
        //  Supress further processing of left/right/space (37/29/32)
        if(keycode == 37 || keycode == 39 || keycode == 32) {
          e.preventDefault();
        }
        game.keyDown(keycode);
    });
    window.addEventListener("keyup", function keydown(e) {
      var keycode = window.event.keycode || e.which;
        if(pressedKeys[keycode])
          delete pressedKeys[keycode];
        game.keyUp(keycode);
    });
    
    //hides images in HTML
    
    </script>
    