{{!-- Table of high scores --}}
<h1>High Scores</h1>
<ul>
    {{#each Score}}
    <li>{{this.score}} {{this.User.firstName}}</li>
    {{/each}}
</ul>

{{!-- start game button --}}
<button>Start the Game!</button>
{{!-- <button id="easy">Easy</button>
<button id="normal">Normal</button>
<button id="hard">Hard</button> --}}
<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="btnradio" id="easy" autocomplete="off" checked>
  <label class="btn btn-outline-primary" for="btnradio1">Easy</label>

  <input type="radio" class="btn-check" name="btnradio" id="normal" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio2">Normal</label>

  <input type="radio" class="btn-check" name="btnradio" id="hard" autocomplete="off">
  <label class="btn btn-outline-primary" for="btnradio3">Hard</label>
</div>


{{!-- log out button --}}
<button>Log Out</button>


  <canvas id="gameCanvas"></canvas>
  

  <script src="js/spaceinvaders.js"></script>
    {{!-- images used for ships and aliens --}}
    <img src="stylesheets/img/ship.png" id="ship" width="1px" height="1px" style="display: none;"/>
     <img src="stylesheets/img/alien.png" id="alien" style="display: none;">
  <script>
    //  Setup the canvas.
    var canvas = document.getElementById("gameCanvas");
    canvas.width = 800;
    canvas.height = 600;
    
    //  Create the game.
    var game = new Game();
    
    

    //  Initialise it with the game canvas.
    game.initialise(canvas);
    
    //  Start the game.
    game.start();
    
    //  Listen for keyboard events.
    var pressedKeys = [];
    window.addEventListener("keydown", function keydown(e) {
      var keycode = window.event.keycode || e.which;
        if(!pressedKeys[keycode])
          pressedKeys[keycode] = true;
        //  Supress further processing of left/right/space (37/29/32)
        if(keycode == 37 || keycode == 39 || keycode == 32) {
          e.preventDefault();
        }
        game.keyDown(keycode);
    });
    window.addEventListener("keyup", function keydown(e) {
      var keycode = window.event.keycode || e.which;
        if(pressedKeys[keycode])
          delete pressedKeys[keycode];
        game.keyUp(keycode);
    });
    
    //hides images in HTML
    
    </script>